{% extends 'base.html' %}

{% block title %}
chat room
{% endblock %}

{% block content %}
<textarea id="chat-text" rows=12 cols="20"></textarea> <br>
<input type="text" id="chat-input"> <br>
<button id="button">Send</button>
{{ room_name|json_script:"room-name" }}
{{ username|json_script:"current-username" }}
<script>

    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const curUserName = JSON.parse(document.getElementById('current-username').textContent);
    console.log(curUserName);
    var ws = new WebSocket("ws://" + window.location.host + "/ws/chat/" + roomName + "/");

    var chatInput = document.querySelector("#chat-input");
    createMessage = function(msg){
        document.querySelector("#chat-text").value += (msg + "\n");
    }
    ws.onmessage = function(event){
        var data = JSON.parse(event.data);
        if (data.command === 'messages'){
            var messages = data.messages;
            for (let i=0; i<messages.length; i++){
                createMessage(messages[i]);
            }
        }
        else if (data.command === 'message'){
            var message = data.message;
            createMessage(message);
        }
    }
    document.querySelector("#button").onclick = function(e){
        var message = chatInput.value;
        ws.send(JSON.stringify({
            "username": curUserName,
            "message": message
        }));
        chatInput.value = "";
    }

</script>
{% endblock %}